
body{
     
    margin:auto;    
}
.first{
    padding-top: 50px;
    text-align:center;
}
.second{
    padding-top:50px;
    text-align: center;
}

.third{
    text-align: center;
    padding-top:50px;
}
